@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;

  }

  h1 {
    font-size: 40px;
    color: aliceblue;
    padding: 5px;
    background: #cf7521;
    background: linear-gradient(to right, #cf6421 0%, #cf8f0e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Space Mono', monospace;


  }

  h3 {
    font-size: 30px;
    text-align: center;
    color: beige;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Space Mono', monospace;


  }

  .row {
    position: relative;
    top: 2rem;
  }

  


}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    color: aliceblue;
    padding: 5px;
    background: #CF21B8;
    background: linear-gradient(to right, #CF21B8 0%, #220ECF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

  }

  h3 {
    font-size: 30px;
    text-align: center;
    color: beige
  }


}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  h1 {
    font-size: 70px;
    color: aliceblue;
    padding: 25px;
    background: #cf6f21;
    background: linear-gradient(to right, #cf6421 0%, #cf450e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Space Mono', monospace;


  }

  h3 {
    font-size: 50px;
    text-align: center;
    color: beige;
    font-family: 'Crimson Text', serif;

  }


}