.card {
    position: relative;
    width: 190px;
    height: 200px;
    background: rgba(9, 2, 7, 0.227);
    background: linear-gradient(137deg, rgba(255, 0, 179, 0.055) 0%, rgba(6, 226, 226, 0.14) 100%);
    transition: 0.3s ease;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 30px rgba(11, 5, 10, 0.5));
    bottom: 15rem;
    left: 15%;
    padding: 30px;
    margin: 10px;
    display: inline-block;
}

.card::after {
    content: '';
    background-color: #18181823;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
}

.card:hover {
    filter: drop-shadow(0px 0px 30px rgba(38, 209, 209, 0.298));
}

/* h2 {
    position: relative;
   bottom: 20rem;
   
    color: aliceblue;

}



h4 {
    position: relative;
    left: 2%;
    bottom: 10rem;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 70%;
    color: aquamarine;
    height: 800px;
    padding: 50px;
    position: relative;
    left: -7%;

}
img{
    width: 50%;
}
 */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .card {

        position: relative;
        top: 12rem;

        width: 30%;
        height: 30%;

    }

    h2 {

        position: relative;
        width: 100%;
        text-align: center;

        top: 10rem;
        color: aqua;
        font-family: 'Abyssinica SIL', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Space Mono', monospace;

    }

    h4 {
        position: relative;
        width: 100%;
        padding: 20px;
        left: 0%;
        top: 10rem;
        text-align: center;
        color: aliceblue;
        font-family: 'Abyssinica SIL', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Space Mono', monospace;

    }

    span {
        color: tomato;
    }

}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
    .card {

        position: relative;
        top: 12rem;

        width: 30%;
        height: 30%;

    }

    h2 {

        position: relative;
        width: 100%;
        text-align: center;

        top: 10rem;
        color: aqua;
    }

    h4 {
        position: relative;
        width: 100%;
        padding: 20px;
        left: 0%;
        top: 10rem;
        text-align: center;
        color: aliceblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    span {
        color: tomato;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
  .card {

        position: relative;
        top: 12rem;

        width: 30%;
        height: 30%;

    } 

    h2 {

        position: relative;
        width: 100%;
        text-align: center;

        bottom: 60rem;
        color: aqua;
        font-size: 50px;
        font-family: 'Abyssinica SIL', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Space Mono', monospace;

    }

    h4 {
        position: relative;
        width: 100%;
        padding: 20px;
        left: 0%;
        bottom: 70rem;
        text-align: center;
        color: aliceblue;
        font-family: 'Abyssinica SIL', serif;
        font-family: 'Amatic SC', cursive;
        font-family: 'Chakra Petch', sans-serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Space Mono', monospace;
        
    }

    span {
        color: tomato;
    }
    .row{
        bottom: 50rem;
      
       position: relative;
       bottom: 29rem;
    }
    img{
        width: 60%;
        position: relative;
        left: 20%;
        top: 2rem;
    }
    .container{
        width: 50%;
        color: rgb(127, 253, 255);
        height: 800px;
        padding: -500px;
        position: relative;
        left: -7%;
    
    }
    
}