<section class="hero">
<div class="card-shadow">

    <!-- titulo de la parte superior del header  -->
    <h4>Portfolio <span>Javier Solis</span></h4>

    <!-- lista de inicio y de contacto -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
        </li>
    </ul>

    <!-- boton de mi curriculum -->
    <button data-toggle="modal" data-target="#myModal10">
        Ver mi Curriculum
    </button>
</div>
</section>