<div class="row">
    <div class="col-12">
        <h2>Experiencia laboral</h2>

        <!-- Carrusel de certificados-->
        <div class="card1">
            <div class="card-image1">
                <!-- <img src="../../../assets/png-transparent-computer-icons-diploma-education-academic-degree-austria-drill-removebg-preview.png" alt=""
                    style="width: 100%; "> -->
            </div>
            <p class="card-title1">Por el momento no cuento con Experiencia en empresas, solamente en proyectos personales</p>
            <p class="card-body1">
            
           

            <!-- Button trigger modal -->
            <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                 Ver Experiencia
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Certificados de estudios</h1>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body">
                            <img src="../../../assets/imgcert/6017f309-9be0-4177-8926-bced23855b5c.jpg" alt="">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                <li>Ministerio de Economía</li>
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>INTI Instituto Nacional de Tecnología Industrial</li>
                                <li>Terminado <span>13/06/23 </span></li>
                            </ul>
                        </div>
                        <div class="modal-body">
                            <img src="../../../assets/imgcert/centificado javascript.jpg" alt="">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>Faculta de Ciencias Económicas, Universitario de Buenos Aires</li>
                                <li>Terminado <span>31/03/23 </span></li>
                            </ul>
                        </div>
                        <div class="modal-body">
                            <img src="../../../assets/imgcert/inglescertificado.jpg" alt="">
                            <ul>
                                <li>Argentina Programa 4.0</li>
                                <li>Ministerio de Economía</li>
                                <li>Argentina Secretaría de Economía del Conocimiento</li>
                                <li>Centro Universitario de Idiomas CUI</li>
                                <li>Terminado <span>16/03/23 </span></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                 Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
